<%= nav_button counter_path(@conn, :index), "Back to list", icon: "angle-double-left" %>

<%= page_header "Edit counter" %>

<%= render "form.html", changeset: @changeset,
                        action: counter_path(@conn, :update, @counter),
                        back_path: counter_path(@conn, :index) %>
