# Rename this file to dev.secret.exs
# fill in the email and password
# and run the seed task (mix run priv/repo/seeds.exs)

use Mix.Config

config :count_ego, :admin_user,
  name: "Admin",
  email: "EMAIL", # change this to actual email
  password: "PASSWORD" # change this to actual password
